<template>
    <div class="container">
        <div class="row mt-3" v-if="$Gate.isAdmin()">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Users Table</h3>

                        <div class="card-tools">
                            <button class="btn btn-success" @click="newModal">Add New
                                <i class="fas fa-user-plus fa-fw"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Type</th>
                                    <th>Registered At</th>
                                    <th>Deleted At</th>
                                    <th>Modify</th>
                                </tr>

                                <tr v-for="user in users.data" :key="user.id">
                                    <td>{{user.id}}</td>
                                    <td>{{user.name | capitalize }}</td>
                                    <td>{{user.email}}</td>
                                    <td>{{user.type | capitalize}}</td>
                                    <td>{{user.created_at | formatDate}}</td>
                                    <td>{{user.deleted_at | formatDate}}</td>
                                    <td>
                                        <a href="#" @click="editModal(user)">
                                        <i class="fas fa-edit blue"></i>
                                        </a>

                                        :

                                        <a href="#" @click="deleteUser(user.id)">
                                        <i class="fas fa-trash red"></i>
                                        </a>
                                    </td>
                                </tr>

                                
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer"><!--pagaination -->

                        <pagination :data="users" :show-disabled="true" :limit="5" @pagination-change-page="getResults">
                        <span slot="prev-nav">&lt; Previous</span>
                        <span slot="next-nav">Next &gt;</span>
                        </pagination>

                    </div><!-- end pagination div -->
                </div>
                <!-- /.card -->
            </div>
        </div>

        <div v-if="!$Gate.isAdmin()">
            <error404></error404>
        </div>

        <!-- Create New User Modal -->
        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" v-show="!editMode" id="addNewLabel">Add New User</h5>
                        <h5 class="modal-title" v-show="editMode" id="addNewLabel">Update Existing User</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <form @submit.prevent="editMode ? updateUser() : createUser()">

                        <div class="modal-body">

                            <div class="form-group">
                                <input v-model="form.name" type="text" id="name" name="name" placeholder="Name" class="form-control"
                                    :class="{ 'is-invalid': form.errors.has('name') }">
                                <has-error :form="form" field="name"></has-error>
                            </div>

                            <div class="form-group">
                                <input v-model="form.email" type="email" id="email" name="email" placeholder="Email"
                                    class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                                <has-error :form="form" field="email"></has-error>
                            </div>

                            <div class="form-group">
                                <textarea v-model="form.bio" type="text" id="bio" name="bio" placeholder="Enter a short bio (Optional)"
                                    class="form-control" :class="{ 'is-invalid': form.errors.has('bio') }"></textarea>
                                <has-error :form="form" field="bio"></has-error>
                            </div>

                            <div class="form-group">
                                <select name="type" v-model="form.type" id="type" class="form-control" :class="{
                                    'is-invalid': form.errors.has('type') }">
                                    <option value="" selected disabled>Select User Role</option>
                                    <option value="admin">Admin</option>
                                    <option value="user">Standard User</option>
                                    <option value="author">Author</option>
                                </select>
                                <has-error :form="form" field="type"></has-error>

                            </div>

                            <div class="form-group">
                                <input v-model="form.password" type="password" id="password" name="password"
                                    placeholder="Password" class="form-control" :class="{ 'is-invalid': form.errors.has('password') }">
                                <has-error :form="form" field="password"></has-error>
                            </div>

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <button v-show="!editMode" type="submit" class="btn btn-primary">Create</button>
                            <button v-show="editMode" type="submit" class="btn btn-primary">Update</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                users: {},
                editMode: false,
                form: new Form({
                    id: '',
                    name: '',
                    email: '',
                    password: '',
                    type: '',
                    bio: '',
                    photo: '',
                })
            }
        },
        methods: {
            updateUser() {
                this.$Progress.start();

                this.form.put('api/user/'+this.form.id)

                .then(()=>{
                    Fire.$emit('refreshPage');
                    $('#addNew').modal('hide');
                    toast({
                            type: 'success',
                            title: 'User Updated Successfully!'
                            })
                this.$Progress.finish();
                })

                .catch(()=>{
                   this.$Progress.start();
                    Swal(
                        'Failed!',
                        'Something went wrong.',
                        'warning'
                    )
                   this.$Progress.fail();
                })
            },
            newModal() {
                this.editMode = false;
                this.form.reset();
                $('#addNew').modal('show')
            },
             editModal(user) {
                this.editMode = true;
                this.form.reset();
                $('#addNew').modal('show');
                this.form.fill(user)
            },
            deleteUser(id) {
                Swal({
                    title: 'Are you sure?',
                    text: "This user will be deleted!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!',

                    }).then((result) =>
                    {
                        if (result.value)
                        {
                            this.$Progress.start();
                            this.form.delete('api/user/' + id)
                            .then(() => {
                                Swal(
                                'Deleted!',
                                'User has been been deleted!',
                                'success'
                            )
                            Fire.$emit('refreshPage');
                            this.$Progress.finish();

                            }).catch(() => {
                                this.$Progress.start();
                                    Swal(
                                        'Failed!',
                                        'Something went wrong.',
                                        'warning'
                                    )
                                this.$Progress.fail();
                                })

                        } else if (result.dismiss) {
                            Swal(
                                'Cancelled!',
                                'User will not be deleted!',
                                'error'
                            )
                        }
                    })
            },
            getResults(page = 1) {
                if (this.$Gate.isAdmin()) {
                this.$Progress.start();
                axios.get('api/user?page=' + page)
                    .then(response => {
                        this.users = response.data;
                        this.$Progress.finish();
                    });
                }
            },
            createUser() {
                this.$Progress.start();
                this.form.post('api/user')
                .then(()=>{
                    Fire.$emit('refreshPage');
                    $('#addNew').modal('hide');
                    toast({
                            type: 'success',
                            title: 'User Created Successfully!'
                            })
                    this.$Progress.finish();
                })
                .catch(()=>{
                    this.$Progress.fail();
                });
            }
        },
        created() {
            this.getResults();
            Fire.$on('refreshPage', () => {
                this.getResults();
            });
            Fire.$on('searchBox', () => {
                let query = this.$parent.search;
                axios.get('api/find?q='+ query)
                .then((response) => {
                    this.users = response.data;
                })
                .catch(() => {

                });
            });
        }
    }
</script>